*{
    box-sizing: border-box;
}

html{
    margin: 0;
    height: 95vh;
}

body{
    font-family: Arial;
    background: #9BA49A;
    margin: 0;
    height: 95vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


.listMenu{
    float:left;
    width: 25%;
    background-color: #EEEEEB;
    height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.newProject, .newTask{
    color: #fff;
    background-color: #283227;
    font-size: 25px!important;
    border: none;
    display: inline-block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 50%;
    align-self: center;
    margin-top: 50px;
    font-weight: bold;
}

.deleteProject, .deleteTask{
    color: #fff;
    background-color: rgb(179, 2, 2);
    font-size: 25px!important;
    border: none;
    display: inline-block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 50%;
    align-self: center;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
}

.newProject:hover{
    background-color: gray;
    color: #283227;
}

.clickRipple{
    transition: opacity 0s;
    transition-property: opacity;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.clickRipple:active{
    opacity: 0.5;
}

.listContainer{
    display: flex;
    flex-direction: column;
    height: 550px;
}

.listItem{
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    color: black;
    background-color: #879388;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    margin: 10px;
}


.listItem:hover{
    background-color: gray;
    color: #283227;
}

.taskMenu{
    float: right;
    width: 74%;
    background-color: #EEEEEB;
    height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.taskContainer{
    /* border-color: black;
    border-style: solid; */
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks{
    /* border-color: #879388; 
    border-style: solid; */
    margin-top: 50px;
    text-align: left;
    width: 50vw;
}

.task{
    margin-top: 20px;
}

.checkboxContainer{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: -15px;
    height: 25px;
    width: 25px;
    background-color: #879388;
    transform: translateY(-50%);
  }

  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .checkboxContainer input:checked ~ .checkmark {
    background-color: #283227;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .delete{
    height: 25px;
    width: 25px;
  }

  .task label div {
      display: inline;
  }

