*{
    box-sizing: border-box;
}

html{
    margin: 0;
    height: 95vh;
}

body{
    font-family: Arial;
    background: #9BA49A;
    margin: 0;
    height: 95vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


.listMenu{
    float:left;
    width: 25%;
    background-color: #EEEEEB;
    height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.newProject, .newTask{
    color: #fff;
    background-color: #283227;
    font-size: 38px!important;
    border: none;
    display: inline-block;
    padding: 16px 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 50%;
    align-self: center;
    margin-top: 50px;
}

.newProject:hover{
    background-color: gray;
    color: #283227;
}

.clickRipple{
    transition: opacity 0s;
    transition-property: opacity;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.clickRipple:active{
    opacity: 0.5;
}

.listContainer{
    display: flex;
    flex-direction: column;
    height: 550px;
}

.listItem{
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    color: black;
    background-color: #879388;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    margin: 10px;
}


.listItem:hover{
    background-color: gray;
    color: #283227;
}

.taskMenu{
    float: right;
    width: 74%;
    background-color: #EEEEEB;
    height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.taskContainer{
    border-color: black;
    border-style: solid;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.tasks{
    border-color: #879388;
    border-style: solid;

}
